
/* Sticky Header */
#header_container {
  position:fixed;
  top:0;
  left:0;
  height:80px;
  width:100%;
  color:#008aca;
  background:#d4effa;
  border-bottom:1px solid #008aca;
}

#logo_container {
/*  border:1px solid #f00;*/
  float:left;
  height:100%;
}

#logo_img {
/*  border:1px solid #00f;*/
  height:64px;
  margin:8px;
}

#name_container {
/*  border:1px solid #0f0;*/
  float:left;
  height:100%;
  line-height:90px;
  vertical-align:middle;
  font-size:30px;
  margin: 0px 0px 0px 0px;
}

#name_container a {
  text-decoration:none;
  color:#008aca;
}

#title_container {
/*  border:1px solid #0f0;*/
  float:left;
  height:100%;
  line-height:90px;
  vertical-align:middle;
  font-size:45px;
  margin: 0px 15px 0px 15px;
  color: #000000;
  font-style: italic;
}


#body_container {
  position:fixed;
  top:81px;
  left:0;
  bottom:31px;
  width:100%;
  /*overflow-y:scroll;*/
  /*background:#f00;*/
}


#navigation_container {
  position:fixed;
  top:81px;
  left:0;
  bottom:31px;
  width:189px;
  /*overflow-y:scroll;*/
  overflow-x:hidden;
  white-space:nowrap;
  /*resize:horizontal;*/
  background:#dddddd;
  font-size:smaller;
  /*border-right:1px solid #008aca;*/
  padding:10px;
}

#navigation {
}

#navigation_container li {
  list-style-type:none;
  color:#888888;
  margin-bottom:5px;
}

#navigation_container ul {
  margin: 0;
  padding: 0 0 0 15px;
}

#navigation_container a {
  text-decoration:none;
  color:#000000;
}

#navigation_container a:hover {
  text-decoration:underline;
  color:#008aca;
}

#content {
  position:fixed;
  top:81px;
  left:190px;
  bottom:31px;
  right:0px;
  overflow-y:scroll;
  padding:10px 10px 10px 10px;
  background:#fff;
  border-left:1px solid #008aca;
}


/* Sticky Footer */
#footer_container {
  position:fixed;
  left:0;
  bottom:0;
  height:30px;
  width:100%;
  background:#d4effa;
  border-top:1px solid #008aca;
}

#footer {
  color:#008aca;
  font-size:smaller;
  margin:10px;
}

p {
  line-height: 1.5;
}

li {
  line-height: 1.5;
}

blockquote { /* Blocks of text */
  background:#eeeeee;
  padding:10px;
  border:1px solid #aaaaaa;
}

code { /* Menu commands, button labels, file paths, or inline code */
  background:#eeeeee;
  font-size:smaller;
  font-weight:bold;
  padding:2px 5px 0px 5px;
  border:1px solid #aaaaaa;
}

figcaption { /* Caption appearing below a figure */
  font-size:smaller;
  font-weight:bold;
}

